<form method="post" action="/ObrasDeArte/Agregar">
    <div>
        Nombre de la obra: 
        <input type="text" name="Nombre"/>
    </div>
    <div>
        Año de Creación
        <input type="number" name="AnioCreacion"/>
    </div>
    <div>
        <input type="submit" value="Grabar"/>
    </div>
</form>
